<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ General Manager</h1>
        <div class="nav-dropdown" onclick="myFunction(this)">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </header>
    <main>
        <div class="baseball-diamond">
            <img class="baseball-diamond-image" src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/76536/baseball-diamond-clipart-xl.png" alt="baseball diamond diagram">
        </div>
        <div class="roster">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </main>
</body>
</html>