<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <div class="landing-container">
        <div class="landing-box">
            <h2>Welcome to General Manager</h2>
            <a href="/sessions/new"><button class="new-btn">Log In</button></a>
            <a href="/users/new"><button class="new-btn">Sign Up</button></a>
        </div>
    </div>
    <script src="/app.js"></script>
</body>
</html>