<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ Add Free Agent</h1>
        <form action="/results/" method="POST">
            <input class="search" type="text" name="position" placeholder="Search by position">
        </form>
        <div class="dropdown">
            <div class="dropBtn" onclick="myFunction(this); openDropdown()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/fa">Free Agents</a>
                <a class="dropdown-links" href="/bench">Bench</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
            </div>
        </div>
    </header>
    <main>
        <div class="form-center">
            <form action="/fa" method="POST">
                <input type="text" name="name" placeholder="First and Last Name">
                <input type="number" name="number" placeholder="0-99">
                <input type="text" name="img" placeholder="Image URL">
                <input type="text" name="position" placeholder="Position">
                <input type="text" name="hands" placeholder="Bat Hand/Throw Hand">
                <input type="text" name="height" placeholder="Feet/Inches">
                <input type="text" name="weight" placeholder="Omit lbs.">
                <input type="text" name="tags" placeholder="Traits: power, speed, etc."><br>
                <input class="add-new-form-btn" type="submit" value="Add New Free Agent">
            </form>
        </div>
    </main>
</body>
</html>