<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <header>
        <h1>⚾️ Add Player</h1>
        <div class="dropdown">
            <div class="dropBtn" onclick="myFunction(this); openDropdown()">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
            <div id="myDropdown" class="dropdown-content">
                <a class="dropdown-links" href="/">Home</a>
                <a class="dropdown-links" href="/roster">Roster</a>
                <a class="dropdown-links" href="/fa">Free Agents</a>
                <a class="dropdown-links" href="/gm/new">Add Player</a>
            </div>
        </div>
    </header>
    <main>
        <div class="form-center">
            <form action="/roster" method="POST">
                <input type="text" name="name" placeholder="First and Last Name">
                <input type="number" name="number" placeholder="0-99">
                <input type="text" name="img" placeholder="Image URL">
                <input type="text" name="position" placeholder="Position">
                <input type="text" name="hands" placeholder="Bat Hand/Throw Hand">
                <input type="text" name="height" placeholder="Feet/Inches">
                <input type="text" name="weight" placeholder="Omit lbs.">
                <input type="text" name="years" placeholder="Contract Years Remaining">
                <input type="text" name="salary" placeholder="Salary (Omit $)">
                <input type="text" name="tags" placeholder="Traits: power, speed, etc.">
                <button>Add New Player</button>
            </form>
        </div>
    </main>
</body>
</html>