header {
    display: flex;
}

.nav-dropdown {
    align-self: flex-start;
}
.nav-dropdown:hover {
    cursor: pointer;
}

/* Hamburger Styling and js adapted from W3schools
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburger-line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
.baseball-diamond {
    text-align: center;
}

.baseball-diamond-image {
    width: 60%;
}

.roster {
    display: grid;
    z-index: 1;
}

/* Table Styling adapted from Bootstrap skeleton
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.player-index-table {
    margin-left: auto;
    margin-right: auto;
}

th,td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

td {
    vertical-align: middle;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

.player-index-image {
    width: 40px;
    border-radius: 25px;
    border: 1px solid black;
}

.jersey {
    margin-left: 5px;
}

.player-link {
    margin-left: 0;
}

/* Show
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info-image {
    width: 50%;
}

.info-flex-container {
    display: flex;
    justify-content: space-between;
    
}

.info-image-container {
    align-self: flex-end;
    flex-basis: 50%;
    text-align: right;
    margin-right: 15px;
}

.info-container {
    align-self: flex-start;
    flex-basis: 50%;
}

.show-heading {
    text-align: center;
}