/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    color:darksalmon
}

a:visited {
    color: black;
}

a:visited:hover {
    color: darksalmon;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    display: flex;
}

.nav-dropdown {
    align-self: flex-start;
}
.nav-dropdown:hover {
    cursor: pointer;
}

/* Hamburger (styling and js adapted from W3schools)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.hamburger-line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  
.baseball-diamond {
    text-align: center;
}

.baseball-diamond-image {
    width: 60%;
}

.roster {
    display: grid;
    z-index: 1;
}

/* Table (styling adapted from Bootstrap)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.player-index-table {
    margin-left: auto;
    margin-right: auto;
}

th,td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
}

td {
    vertical-align: middle;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

.player-index-image {
    width: 40px;
    border-radius: 25px;
    border: 1px solid black;
}

.jersey {
    margin-left: 5px;
    color: lightgray;
}

.player-link {
    margin-left: 0;
}

.player-thumb {
    text-align: right;
}

.player-name {
    padding-left: 0;
    text-align: left;
}

/* form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-center {
    width: 400px;
    margin: 0 auto;
}

input {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 5px;
}

.checkbox input{
    display: inline;
}

.btn {
    width: 35%;
}

/* Show (adapted from partner lab from Week 5)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info-image {
    width: 50%;
}

.info-flex-container {
    display: flex;
    justify-content: space-between;
    
}

.info-image-container {
    align-self: flex-end;
    flex-basis: 50%;
    text-align: right;
    margin-right: 15px;
}

.info-container {
    align-self: flex-start;
    flex-basis: 50%;
}

.show-heading {
    text-align: center;
}

/* Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Show Page (adapted from partner lab from Week 5) */
@media (max-width: 500px) {
    .info-flex-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .info-image-container {
        flex-basis: 100%;
        text-align: center;
    }

    .info-container {
        align-self: flex-start;
        flex-basis: 100;
    }

    .info-image {
        width: 90%;
    }
}