/* Universal
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    height: 100%;
    background-color: #383737;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Red Hat Text', sans-serif;
    color: #60c3cc;
}

th {
    color: rgb(239, 76, 41);
}

p, a, td, button {
    font-family: 'Barlow', sans-serif;
    color: white;
}

a:hover {
    color: rgb(239, 76, 41);
}

a:visited {
    color: #60c3cc;
}

a:visited:hover {
    color:  rgb(239, 76, 41);
}

button, .submitBtn {
    border-radius: 10px;
    padding: 15px;
    margin: 4px;
    width: 150px;
    cursor: pointer;
    background-color: transparent;
    color: #60c3cc;
    border: 1px solid #60c3cc;
}

button:hover, .submitBtn:hover {
    background-color: transparent;
    color: rgb(239, 76, 41);
    border: 1px solid rgb(239, 76, 41);;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: transparent;
    border-bottom: 2px solid #399098;
    margin-right: 1%;
    margin-left: 1%;
}

header h1 {
    margin-top: 0;
    margin-bottom: 5px;
}

/* Hamburger (styling and js adapted from W3schools)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #60c3cc;
    margin: 6px 0;
    transition: 0.4s;
  }

.change .bar1 {
    width: 20px;
    transform: translate(13px, 22px) rotate(-45deg);
  }
  
.change .bar2 {
    transform: rotate(90deg);
}
  
.change .bar3 {
    width: 20px;
    transform: translate(2px, 0) rotate(45deg);
}

/* Home Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.baseball-diamond {
    text-align: center;
    margin-top: 2%;
}

.baseball-diamond-image {
    width: 60%;
}

.roster {
    background-color: transparent;
    display: grid;
    position: fixed;
    top: 70px;
	bottom: 0;
    height: 100%;
	width: 100%;
	z-index: 1;
}

.player-thumb-home {
    width: 7%;
}

/* Dropdown
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.dropdown {
    display: flex;
    cursor: pointer;
  }

.dropdown-content {
    display: none;
    float: right;
    position: absolute;
    color: #60c3cc;
    background-color: transparent;
    min-width: 125px;
    z-index: 1;
    animation: growDown 300ms ease-in-out;
    transform: translate(-75px, 50px);
    text-align: right;
    margin-top: 5px;
}
  
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}

.dropdown-links {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {
    display: block;
}


/* Table (styling adapted from Bootstrap)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.player-index-table {
    margin-left: auto;
    margin-right: auto;
}

th, td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #60c3cc;
}

td {
    vertical-align: middle;
}

th:first-child, td:first-child {
  padding-left: 0;
}

th:last-child, td:last-child {
  padding-right: 0;
}

.player-index-image {
    width: 40px;
    border-radius: 25px;
    border: 1px solid rgb(239, 76, 41);;
}

.jersey {
    margin-left: 5px;
    color: lightgray;
}

.player-link {
    margin-left: 0;
}

.player-thumb {
    text-align: right;
}

.player-name {
    padding-left: 0;
    text-align: left;
}

/* form
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.form-center {
    width: 400px;
    margin: auto;
    margin-top: 2%;
}

input {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 5px;
}

.checkbox input{
    display: inline;
}

.btn {
    width: 35%;
}

.checkbox {
    color:#60c3cc;
    margin-left: 4px;
}

/* Show (adapted from partner lab from Week 5)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.info-image {
    width: 70%;
    border-radius: 10px;
}

.info-flex-container {
    display: flex;
    justify-content: space-between;
    
}

.info-image-container {
    align-self: flex-end;
    flex-basis: 50%;
    text-align: right;
    margin-right: 15px;
}

.info-container {
    align-self: flex-start;
    flex-basis: 50%;
}

.show-heading {
    text-align: center;
    margin-top: 2%;
}

.player-info-show {
    color: rgb(239, 76, 41);
}

.release-player-info {
    display: none;
}

/* Roster
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.players {
    text-align: center;
    margin-top: 2%;
}

.new-btn {
    margin-bottom: 10px;
}

/* Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 500px) {
    /* Show Page (adapted from partner lab from Week 5) */
    .info-flex-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .info-image-container {
        text-align: center;
    }

    .info-container {
        align-self: flex-start;
        flex-basis: 100;
        margin: 0 auto;
    }

    .info-image {
        width: 90%;
    }
}


/* Home Page (with Codepen Diamond)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#field {
    position:absolute;
    top:-110px;
    left:145px;
    height:700px;
    width:700px;
    border-radius:1% 100% 1% 1%;
    border:1px solid green;
    background-color:green;
    transform: rotate(-45deg);
}

#in-field { 
    position:absolute;
    top:170px;
    left:265px;
    height:450px;
    width:450px;
    border-radius:1% 50% 1% 1%;
    border:1px solid #836539;
    background-color:#836539;
    transform: rotate(-45deg);
}

#base-lines {
    position:absolute;
    top: -120px;
    left: 155px;
    height:669px;
    width:670px;
    border-left:2px solid white;
    border-bottom:2px solid white;
    transform: rotate(-45deg);
}

#in-field-grass {
    position:absolute;
    top: 330px;
    left: 359px;
    height:260px;
    width:260px;
    border:2px solid green;
    background-color:green;
    transform: rotate(-45deg);
}

.base {
    position:absolute;
    height:13px;
    width:13px;
    transform: rotate(-45deg);
    border:1px solid white;
    background-color:white;
    z-index: 1000;
}
#first-base{
    top:450px;
    left:706px;
}
#second-base{
    top:231px;
    left:484px;
}
#third-base{
    top:450px;
    left:262px;
}
#home-plate{
    position:absolute;
    height:7px;
    width:13px;
    top:678px;
    left:485px;
    border:1px solid white;
    background-color:white;
}
#home-plate:before, #home-plate:after {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

#home-plate:before {
	border-top-color:white;
	border-width: 8px;
	left: 50%;
	margin-left: -9.5px;
}

#pitchers-mound{ 
    position:absolute;
    top:420px;
    left:450px;
    height:80px;
    width:80px;
    border-radius:100% 100% 100% 100%;
    transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}
#pitchers-plate{ 
    position:absolute;
    top:458px;
    left:482px;
    height:5px;
    width:16px;
    border:1px solid white;
    background-color:white;
}
#vertical{
    position:absolute;
    top:14px;
    left:491px;
    height:1115px;
    width:1px;
    border-left:1px solid black;
}

.half-circle{    
    position:absolute;
    height:40px;
    width: 40px;
    transform: rotate(-45deg);
    border:1px solid #836539;
    background-color:#836539;
}

#third-circle{
    top:440px;
    left:300px;
    border-radius:1% 1% 100% 1%;
}

#first-circle{
    top:440px;
    left:642px;
    border-radius:100% 1% 1% 1%;
}

#second-circle{
    top:275px;
    left:470px;
    border-radius:1% 1% 1% 100%;
}
.batters-box{
    position:absolute;
    height:25px;
    width: 15px;
    border:2px solid white;
    background-color:#836539;
    top: 670px;
}
#batters-box-right{
    box-shadow: 6px 0 #836539; /* Cover up the base line */
    left:461px;
}
#batters-box-left{
  box-shadow: -6px 0 #836539; /* Cover up the base line */
    left:503px;
}

#batting-circle{ 
    position:absolute;
    top:634px;
    left:440px;
    height:100px;
    width:100px;
    border-radius:100% 100% 100% 100%;
   transform: rotate(-45deg);
     border:1px solid #836539;
    background-color:#836539;
}

#first-base-thing{
    top:430px;
    left:667px;
    position:absolute;
    height:170px;
    width:13px;
    transform: rotate(45deg);
    border-right:2px solid white;
    border-bottom:2px solid white;
}

.mowed-grass{
    background-color: #ac0;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
    -webkit-background-size: 250px 250px;
    -moz-background-size: 50px 50px;
    background-size: 200px 200px;
    background-color:#ac0
}

#diamond-player-thumb-home {
    width: 500%;
    z-index: 1;
    transform: rotate(45deg);
    border-radius: 35px;
}

#diamond-player-thumb-home-C {
    width: 450%;
    z-index: 2;
    transform: translateY(30px);
    border-radius: 35px;
}

#diamond-player-thumb-home-SP {
    width: 450%;
    z-index: 2;
    transform: translateY(10px);
    border-radius: 35px;
}

#diamond-player-thumb-home-SS {
    width: 175%;
    z-index: 2;
    transform: translateY(-35px) rotate(45deg) translateX(-150px);
    border-radius: 35px;
}

#diamond-player-thumb-home-LF {
    width: 150%;
    z-index: 2;
    transform: translateY(-350px) rotate(45deg) translateX(50px);
    border-radius: 35px;
}

#diamond-player-thumb-home-CF {
    width: 80%;
    z-index: 2;
    transform: rotate(45deg) translateY(-400px) translateX(30px);
    border-radius: 35px;
}

#diamond-player-thumb-home-RF {
    width: 150%;
    z-index: 2;
    transform: rotate(45deg) translateY(-275px) translateX(125px);
    border-radius: 35px;
}