<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Red+Hat+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <script src="/app.js"></script>
    <title>General Manager</title>
    <link rel="icon" type="image/x-icon" href="/icon.png">
</head>
<body>
    <header>
        <h1>âš¾ï¸ <a href="/sessions/new">General Manager</a></h1>
    </header>
    <main>
        <div class="form-center">
            <form action="/sessions/new" method="POST">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input class="add-new-form-btn" type="submit" value="Log In">
            </form>
        </div>
    </main>
</body>
</html>